<div class="tile"
  [class.cleared]="cleared"
  [class.spawned]="spawned"
  [class.selected]="selected"
  [class.falling]="fallDistance > 0"
  [class.swapping]="swapping"
  [class.swap-left]="swapDirection === 'left'"
  [class.swap-right]="swapDirection === 'right'"
  [class.swap-up]="swapDirection === 'up'"
  [class.swap-down]="swapDirection === 'down'"
  [@swapAnimation]="swapDirection || 'none'"
  [@fallAnimation]="{
    value: fallDistance,
    params: {
      endOffset: 60 * Math.abs(fallDistance),
      duration: 400 * maxFallDistance
     }
   }"
  (@swapAnimation.start)="onAnimationStart($event)"
  (@swapAnimation.done)="onAnimationDone($event)"
  (@fallAnimation.done)="onFallAnimationDone($event)"
  (click)="handleClick()"
>
  {{ value }}
</div>
