@use 'src/styles/variables' as *;

.board-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  border: 1px solid red;
}

.board {
  display: grid;
  grid-template-columns: repeat(var(--cols), var(--cell-size));
  grid-template-rows: repeat(var(--rows), var(--cell-size));
  gap: 4px;

  position: relative;
  max-width: 100%;
  box-sizing: content-box;
}
