@use 'src/styles/variables' as *;

.board-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.board {
  display: grid;
  grid-template-columns: repeat(var(--cols), var(--cell-size));
  grid-template-rows: repeat(var(--rows), var(--cell-size));
  gap: 4px;

  position: relative;
  max-width: 100%;
  max-height: 100%;
  box-sizing: content-box;

  width: auto;
  height: auto;
}
