@use 'src/styles/variables' as *;

.board-wrapper {
  display: inline-block;
  max-width: 100%;
}

.board {
  display: grid;
  grid-template-columns: repeat(var(--cols), var(--cell-size));
  grid-template-rows: repeat(var(--rows), var(--cell-size));
  gap: 4px;

  position: relative;
  max-width: 100%;
  box-sizing: content-box;
}

app-cell {
  position: relative;
  z-index: 1;
}

app-symbol {
  position: absolute;
  z-index: 2;
  pointer-events: none;
}
