<div class="board-wrapper">
    <div
        class="board"
        *ngIf="board"
        [style.--cols]="board.cols"
        [style.--rows]="board.rows"
        [style.--cell-size.px]="cellSizePx"
    >
        <!-- Grid cells (static layer) -->
        <app-cell
            *ngFor="let cell of board.cells; trackBy: trackByCell"
            [cell]="cell"
            [isSelected]="isSelected(cell)"
            (click)="onCellClick(cell)"
        ></app-cell>

        <!-- Symbols (motion layer) -->
        <ng-container *ngFor="let cell of board.cells; trackBy: trackByCell">
            <app-symbol
                *ngIf="cell.symbol"
                [symbol]="cell.symbol"
                [cellIndex]="cell.index"
                [boardStyle]="boardStyle"
            ></app-symbol>
        </ng-container>
    </div>
</div>
