@use 'src/styles/variables' as *;

.board-wrapper {
  display: flex;
  justify-content: center;
  overflow: visible;
  width: 95%;
  max-width: 500px;
  margin: 0 auto;
  box-sizing: border-box;
}

.board-grid {
  width: 100%;
  height: auto;  // height adjusts based on width to keep squares
}
