@use 'src/styles/variables' as *;

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;  // Keep each cell square
  font-size: clamp(16px, 2vw, 28px);  // responsive font size
  border-radius: $cell-border-radius-px;
  background-color: $cell-bg-color;
}

.cell.selected {
  outline: 2px solid #ffd700 !important;
  box-shadow: 0 0 10px 3px rgba(255, 215, 0, 0.7); // subtle glow
  z-index: 10;  // bring on top
  background-color: green !important;
}

:host {
  display: block;      // make sure host is a block element
  width: 100%;         // fill width of grid tile
  height: 100%;        // fill height of grid tile
}

:host(.selected) {
  outline: 2px solid gold;
  box-shadow: 0 0 10px 3px rgba(255, 215, 0, 0.7);
  z-index: 10;
}




.cell.blocked {
  background-color: $cell-blocked-color;
  cursor: not-allowed;
  opacity: 0.6;
}

.cell.null {
  background-color: transparent;
  pointer-events: none;
}
