@use 'src/styles/variables' as *;

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;  // Keep each cell square
  font-size: 80%;
  border-radius: $cell-border-radius-px;
  background-color: $cell-bg-color;
  cursor: pointer;
}

.cell.selected {
  outline: 2px solid #ffd700 !important;
  box-shadow: 0 0 10px 3px rgba(255, 215, 0, 0.7); // subtle glow
  z-index: 10;  // bring on top
}

.cell.blocked {
  background-color: $cell-blocked-color;
  cursor: not-allowed;
  opacity: 0.6;
}

.cell.null {
  background-color: transparent;
  pointer-events: none;
}


app-symbol {
  position: absolute;
  z-index: 10;
  pointer-events: none;
}
