$tile-size-px: 48px;
$symbol-font-size-px: 28px;
$board-bg-color: #1e1e2f;
$cell-bg-color: #28293d;
$cell-blocked-color: #11111f;
$cell-border-radius-px: 6px;
$symbol-transition-easing: ease;
$falling-animation-duration-ms: 400ms;
