@use 'src/styles/variables' as *;

.symbol {
  position: absolute;
  pointer-events: none;
  z-index: 2;
}

.symbol-transform {
  width: 100%;
  height: 100%;
  will-change: transform;
}

.symbol-visual {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: clamp(16px, 2vw, 28px);
}


.flash-overlay-star-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120%;
  height: 120%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 10; // make sure it floats above symbol visual
}

.flash-overlay-star-white,
.flash-overlay-star-gradient {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  clip-path: polygon(
      50% 0%, 61% 35%, 98% 35%, 68% 57%,
      79% 91%, 50% 70%, 21% 91%, 32% 57%,
      2% 35%, 39% 35%
  ); /* star shape */
  animation: flashFade 1.5s ease-in-out;
}

/* White star */
.flash-overlay-star-white {
  background: white;
  opacity: 0.8;
  z-index: 12;
}

/* Gradient star */
.flash-overlay-star-gradient {
  background: linear-gradient(45deg, orange, red);
  opacity: 0.5;
  animation-delay: 0s;
  z-index: 11;
}

@keyframes flashFade {
  from { opacity: 0.8; }
  to { opacity: 0; }
}
