<div
  class="symbol"
  [@drop]="{
    value: renderMode === AnimationRenderMode.Falling ? AnimationRenderMode.Falling : AnimationRenderMode.None,
    params: params
  }"
  [@swap]="{
    value: renderMode === AnimationRenderMode.Swapping ? AnimationRenderMode.Swapping : AnimationRenderMode.None,
    params: params
  }"
  [@clearing]="{
    value: renderMode === AnimationRenderMode.Clearing ? AnimationRenderMode.Clearing : AnimationRenderMode.None
  }"
  (@drop.done)="onAnimationDone()"
  (@swap.done)="onAnimationDone()"
  (@clearing.done)="onAnimationDone()"
>

  {{ symbol.kind }}

  <div class="flash-overlay-star-wrapper" *ngIf="renderMode === AnimationRenderMode.Clearing">
    <div class="flash-overlay-star-white"></div>
    <div class="flash-overlay-star-gradient"></div>
  </div>

</div>
